.profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  color:white;
  font-size: 1.5rem;
  font-weight: bold;
}

.profil .title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.profil .content {
  width: 80%;
}

.profil h2 {
  margin-bottom: 20px;
}

@keyframes bounceThenRotate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  33% {
    transform: translateY(-10px) rotate(0deg);
  }
  66% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

.bounce-icon {
  width: 24px;
  height: 24px;
  animation: bounceThenRotate 3s infinite;
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
}

.bounce-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-download {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: inherit;
  padding: 0;
  cursor: pointer;
}

.competences-title {
  cursor: pointer;
  text-decoration: underline;
  display: flex;
  align-items: center;
}

.chevron-icon {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.competences {
  margin-top: 20px;
}

.competences ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.competences ul li {
  list-style: none;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
  width: 50%; 
  box-sizing: border-box; 
}

.competences ul li p {
  margin: 5px 0 15px 0;
  font-size: 1rem;
  color: #fff;
}

.competences ul li:before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .profil .content {
    width: 90%; 
  }

  .profil h1 {
    font-size: 1.2rem; 
  }

  .competences-title {
    font-size: 1.2rem; 
  }

  .competences ul li {
    width: 100%; 
  }

  .competences ul li p {
    font-size: 0.9rem; 
  }
}