.projet {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden; 
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.modal {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  max-height: 80%;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 1000;
}

.modal h3 {
  margin-top: 0;
  margin-bottom: 20px; 
}

.modal-content {
  max-width: 600px; 
}

.modal h4 {
  margin-top: 20px;
}

.modal p {
  margin: 10px 0;
}

.modal a {
  color: black;
  text-decoration: none;
}

.modal a:hover {
  text-decoration: underline;
}

.modal button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color:white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #555;
}


.slick-prev {
  left: 20px; 
  z-index: 1; 
}

.slick-next {
  right: 20px; 
  z-index: 1;
}

.slick-prev,
.slick-next {
  font-size: 70px;
  color: black; 
}

.slick-prev:before,
.slick-next:before {
  font-size: 70px; 
  color:purple;
}

.slick-prev:hover,
.slick-next:hover {
  color: black; 
  background-color: transparent; 
  border-color: transparent;
}