.projets {
  padding: 20px;
}

.cartes-projets {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.carte-projet {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 20px;
  width: calc(33.333% - 40px);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.carte-projet:hover {
  border-color: #ccc; 
}

.carte-projet img {
  width: 100%;
  object-fit: cover; 
  border-radius: 5px;
}

.carte-projet h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.carte-projet .contenu {
  display: none;
  margin-top: 10px;
}

.carte-projet.ouverte .contenu {
  display: block;
}

.carte-projet ul {
  padding: 0;
}

.carte-projet ul li {
  list-style: none;
}

.carte-projet a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.carte-projet a:hover {
  text-decoration: underline;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .carte-projet {
    width: calc(33.333% - 10px); 
    margin-right: 20px; 
  }

  .cartes-projets .carte-projet:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .carte-projet {
    width: calc(100% - 40px); 
  }
}

@media (max-width: 480px) {
  .carte-projet {
    width: calc(100% - 20px); 
    padding: 10px; 
  }
}
